Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
algoliasearch==1.5.8
beautifulsoup4==4.4.0
cffi==1.1.2
cryptography==3.2
enum34==1.0.4
gunicorn==19.3.0
heroku==0.1.4
html5lib==1.0b7
idna==2.0
ipaddress==1.0.13
itsdangerous==0.24
mechanize==0.2.5
ndg-httpsclient==0.4.0
pyOpenSSL==0.15.1
pyasn1==0.1.8
pycparser==2.14
python-dateutil==1.5
redis==2.10.3
requests==2.7.0
simplejson==3.7.3
six==1.9.0
urllib3==1.10.4
wsgiref==0.1.2
