.uncommon {
  	color: rgb(30, 255, 0);
  	font-weight: bold;
}

.common{
	color: #666;
	font-weight: bold;
}

.rare{
	color: rgb(0, 112, 255);
	font-weight: bold;
}

.epic{
	color: rgb(163, 53, 238);
	font-weight: bold;
}

.legendary{
	color: rgb(255, 128, 0);
	font-weight: bold;
}

.icons{
	height: 25px;
}

#tip{
	font-size: 12px;
}

.center{
	text-align: center;
}

.refresh-btn{
	float: right;
}

.guild-list-table a {
  color: #2a9fd6 !important;
  text-decoration: none !important;
}
