<!DOCTYPE html>
<html lang="en"><head>
<title>Rank Report - Get all the ranks from your Warcraft Logs Reports</title>
<link rel="stylesheet" href="static/css/cyborg.bootstrap.min.css">

<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/ladda-themeless.min.css">

<link rel="shortcut icon" href="static/favicon.ico">

</head>
<body>
<div class="collapse navbar-collapse navbar-inverse">
	<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Rank Report</a>
                  </div>
                    <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/about">About</a></li>
                    </ul>
                  </div>

<br>
<div class="container">

    <div class="panel panel-primary">
     
       <div class="panel-heading">
          <h3 class="panel-title">How does this work?</h3>
        </div>
        <div class="panel-body">
           <p>Input a link to the front page of a warcraft logs report, hit submit, and wait for the results. The url of the log should look something like <a href="https://www.warcraftlogs.com/reports/h3pHANjvGmayDKXF" target="_blank">https://www.warcraftlogs.com/reports/h3pHANjvGmayDKXF</a>.  Rank Report uses the WCL API to get fight information, then webscrapes the rankings for each boss kill and processes the information using Python.  Ranking information for each report that's been analyzed is then stored in Redis, so each report only gets scraped a single time.</p>
        </div>
      
      </div>
    <div class="panel panel-primary">
     
       <div class="panel-heading">
          <h3 class="panel-title">This isn't working for me.</h3>
        </div>
        
        <div class="panel-body">
            <p>Make sure the link you're putting in is to the front page of the WCL report.  You can also directly put in the sixteen character log ID.  As an example, for the log <a href="https://www.warcraftlogs.com/reports/h3pHANjvGmayDKXF" target="_blank">https://www.warcraftlogs.com/reports/h3pHANjvGmayDKXF</a>, the log id is <b>h3pHANjvGmayDKXF</b>.</p>

            <p>If you have an issue that's not covered above, send a copy of the WCL report you're trying to analyze to notputzing @ gmail.com. I can try to take a look and see what might be driving the error.  Feedback may also be sent to me on reddit at <a href="http://www.reddit.com/user/Putzahontas" target="_blank">/u/Putzahontas</a></p>
        </div>
      
      </div>


    <div class="panel panel-primary">
     
       <div class="panel-heading">
          <h3 class="panel-title">Who are you and why did you make this?</h3>
        </div>
        
        <div class="panel-body">
            <p>I'm best known in WoW as <a href="http://us.battle.net/wow/en/character/dragonblight/Putzahontas/simple" target="_blank">Putzahontas</a> on Dragonblight, although I recently mainswitched to my <a href="http://us.battle.net/wow/en/character/dragonblight/Putzform/simple" target="_blank">druid</a>.  I'm the raid leader of <a href="http://thetriarii.com/" target="_blank">Triarii</a> and regularly find myself looking through reports to see how folks are performing.  I initially made Rank Report for myself as an "I'm bored and coding is fun" project and realized it might be worth sharing with others.</p>
            <p>Of course, none of this would be possible without the wonder that is <a href="https://www.warcraftlogs.com/" target="_blank">Warcraft Logs</a>.  I encourage you to support Kihra on <a href="https://www.patreon.com/warcraftlogs" target="_blank">Patreon</a>.</p>
            <p>Special thanks to <a href="http://us.battle.net/wow/en/character/dragonblight/Slushies/simple" target="_blank">Slushies</a> for his help designing and beta testing the site!</p>
        </div>
      
      </div>



</div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script>
           Ladda.bind( '.ladda-button', { timeout: 25000 } );
</script>
</body>
</html>
