<!DOCTYPE html>
<html lang="en"><head>
<title>Warcraft Ranks - Get all the ranks from your Warcraft Logs Reports</title>
<link rel="stylesheet" href="static/css/cyborg.bootstrap.min.css">
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/ladda-themeless.min.css">
</head>
<body>
<div class="collapse navbar-collapse navbar-inverse">
	<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Warcraft Ranks</a>
                  </div>
                    <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/about">About</a></li>
                    </ul>
                  </div>

<br>
<div class="container">
<h2>{{guild["guild_name"]}}</h2>
<h5>Recent Reports - {{guild["guild_server"]}} - {{guild["guild_region"]}}</h5>
<div class="component">
              <table class="table table-striped table-hover sortable guild-list-table">
                <thead>
                  <tr data-toggle="tooltip" data-placement="left" title="Multiple specs">
                    <th>Warcraft Ranks Report</th>
                    <th>Logged by</th>
                    <th>Date</th>
                    <th>WCL Report</th>
                  </tr>
                </thead>
                <tbody>
              {% for log in guild["logs"][::-1] %}
                  <tr>
                    <td><a href="/report?report={{log['log_id']}}">{{log['title']}}</a></td>
                    <td>{{log['owner']}}</td>
                      <td>
                        {% if guild["region"] == US %}
                        {{log['date'].month}}/{{log['date'].day}}/{{log['date'].year}}
                        {% else %}
                        {{log['date'].day}}/{{log['date'].month}}/{{log['date'].year}}
                        {% endif %}
                      </td>
                      <td><a href="https://www.warcraftlogs.com/reports/{{log['log_id']}}">{{log['log_id']}}</a>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
          </div>





 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="static/js/sorttable.js"></script>

<script src="static/js/spin.min.js"></script>
<script src="static/js/ladda.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script>
           Ladda.bind( '.ladda-button', { timeout: 25000 } );
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65262956-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
