<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 -->
<!-- Optional theme -->
<link rel="stylesheet" href="static/css/cyborg.bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
<br>
<div class="jumbotron">
                <h1>Rankings at a Glance</h1>
                <p>Input a WCL report.  Get everyone's ranks on every boss.  That easy.</p>
				<div class="input-group">
                    <input type="text" class="form-control" placeholder="Link to your report">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">Submit</button>
                    </span>
                  </div>
              </div>

</div>