<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

<!-- Optional theme -->
<link rel="stylesheet" href="static/css/cyborg.bootstrap.min.css">

<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/ladda-themeless.min.css">




<div class="collapse navbar-collapse navbar-inverse">
	<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Rank Report</a>
                  </div>
                    <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/about">About</a></li>
                    </ul>
                  </div>

<br>
<div class="container">
<form action="/report">
<div class="jumbotron">
                <h1>Rank Report</h1>
                <p>Input a WCL report.  Get everyone's ranks on every boss.  That easy.</p>
				<div class="input-group">
                    <input type="text" class="form-control" placeholder="Link to your report" name="report" id="report">
                    <span class="input-group-btn">
                      <button class="btn btn-primary ladda-button" type="submit" data-style="slide-left"><span class="ladda-label">Submit</span></button>
                    </span>
                  </div>
                  <br>
                 <p id="tip">Note: Be patient! It can take up to 15s to crawl through a long log for the first time. It will be faster the next time someone looks at it.</p>
              </div>
</form>
</div>




 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="static/js/spin.min.js"></script>
<script src="static/js/ladda.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script>
           Ladda.bind( '.ladda-button', { timeout: 25000 } );
</script>

